/// Specs
%type-base {
  font-family: $font-base;
  font-size: font-size(14);
  line-height: font-size(20);
  font-weight: 300;
}

%type-display-1 {
  font-family: $font-display;
  font-size: font-size(21);
  font-weight: 400;

  @media screen and (min-width: $size-desktop) {
    font-size: font-size(37);
    line-height: font-size(40);
  }
}

%type-display-2 {
  font-family: $font-base;
  font-size: font-size(21);
  line-height: font-size(30);
  font-weight: 500;
}

%type-display-2-alt {
  font-family: $font-display;
  font-size: font-size(21);
  line-height: font-size(30);
  font-weight: 400;
}

%type-display-3 {
  font-family: $font-base;
  font-size: font-size(14);
  line-height: font-size(20);
  font-weight: 300;
}

/// Implementation
h1 {
  @extend %type-display-1;

  color: $color-norm;

  @media screen and (min-width: $size-desktop) {
    color: $color-grey-300;
  }
}

h2,
.h2 {
  @extend %type-display-2;
}

h3,
.h3 {
  @extend %type-display-3;
}

li, p {
  @extend %type-base;
}
