button,
.btn {
  @include btn();
}

.btn-group {
  & > li button {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
  }

  & > li:first-child button {
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  & > li:last-child button {
    padding-right: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.btn-off {
  @include btn-off;
}
