// TODO: Recover category options panel
.category__options {
  display: none;
}

.category__label {
  @extend %type-display-2-alt;

  padding: 5px 0 5px 10px;
  margin: 15px 0 0;

  &:hover {
    background-color: $color-grey-500;
  }
}
