.filter-types {
  button {
    @include img-replacement(30px);

    padding: 0;
    height: 30px;
    border: none;
    opacity: .3;

    &.on {
      opacity: 1;
    }
  }

  .options {
    margin-top: 10px;

    li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .task-type-norm,
  .task-type-norm.on {
    background-color: $color-norm;
  }

  .task-type-urg,
  .task-type-urg.on {
    background-color: $color-urg;
  }

  .task-type-back,
  .task-type-back.on {
    background-color: $color-back;
  }
}
