.task-type-norm,
.task-type-norm.on {
  background-color: $color-norm;
}

.task-type-urge,
.task-type-urge.on {
  background-color: $color-urg;
}

.task-type-back,
.task-type-back.on {
  background-color: $color-back;
}
