@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400,500");

$color-white: #fff;
$color-grey-300: #424242;
$color-grey-500: #616161;
$color-grey-700: #757575;
$color-grey-900: #fefefe;
$color-norm: #00e5ff;
$color-urg: #ffc400;
$color-back: #e0e0e0;
$color-red: #ff5722;
$color-green: #00e676;

$size-desktop: 990px;
$size-tablet: 680px;

$font-display: "Roboto Condensed", sans-serif;
$font-base: "Roboto", sans-serif;
